.vscode/**
.vscode-test/**
src/**
!src/webview/ui/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!out/**/*.js
node_modules/**
.github/**
*.vsix
.DS_Store
npm-debug.log
.editorconfig
test.js
**/*.md
!README.md
!CHANGELOG.md
